apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: pod-alerts
  namespace: monitoring
spec:
  groups:
  - name: pod.rules
    rules:
    - alert: PodCrashLoop
      expr: rate(kube_pod_container_status_restarts_total[10m]) > 0
      for: 5m
