apiVersion: apps/v1
kind: Deployment
metadata:
  name: load-generator
spec:
  replicas: 3
  selector:
    matchLabels:
      app: load-generator
  template:
    metadata:
      labels:
        app: load-generator
    spec:
      containers:
      - name: load-generator
        image: busybox
        env:
        - name: REQUEST_INTERVAL
          value: "0.1"
        command: ["/bin/sh"]
        args:
        - -c
        - |
          while true; do
            wget -q -O- http://php-apache
            sleep $REQUEST_INTERVAL
          done
        resources:
          requests:
            cpu: 100m
            memory: 64Mi

