apiVersion: v1
kind: Pod
metadata:
  name: app-pod-env
spec:
  containers:
  - name: app-container
    image: nginx:1.21
    envFrom:
    - configMapRef:
        name: app-config
    env:
    - name: CUSTOM_MESSAGE
      valueFrom:
        configMapKeyRef:
          name: app-config
          key: APP_ENV
  restartPolicy: Never
